* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --aquamarine: #84f0caff;
    --non-photo-blue: #a0ddebff;
    --sapphire-blue: #2d6b91ff;
    --cerulean-frost: #6392b0ff;
    --maya-blue: #7ac5faff;

    --snow: #fcf7f8ff;
    --light-gray: #ced3dcff;
    --wild-blue-yonder: #aba9c3ff;
    --denim: #275dadff;
    --black-coral: #5b616aff;

    --light-cyan: #e0fbfcff;
    --powder-blue: #c2dfe3ff;
    --pewter-blue: #9db4c0ff;
    --cadet: #5c6b73ff;
    --gunmetal: #253237ff;      


}

body {
    background-color: var(--light-cyan);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.header {
    background-color: var(--gunmetal);
    color: var(--gunmetal);
    text-align: center;
    padding: 25px;
    border-bottom: 2px solid black;
    height: 120px;
}

header.header:hover {
    transition: 1s;
    color: snow;
}

header.header h1{
    color: var(--snow);
}

section.filters{
    background-color: var(--powder-blue);
    padding: 5px;
    border-bottom: 2px solid black;
}
.gridContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vw;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 10px;
    padding: 10px;
}



article.gridItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 250px;
    height: 250px; */
    background-color: var(--pewter-blue);
    border: 10px solid var(--gunmetal);
}

article.gridItem:hover{
    border-radius: 10px;
    transition: 1s;
    background-color: var(--denim);
    color: white;
    border: 10px solid var(--aquamarine);
    font-size: larger;
}
.hide {
    display: none;
}

img.albumCover{
    filter: grayscale(100%);
     width: 200px;
    height: 200px;
}
img.albumCover:hover{
    transition: .3s;
    filter: none;
    border: 5px solid var(--gunmetal) ;
    width: 205px;
    height: 205px;
    border-radius: 10px;
}

div.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    cursor: pointer;
    gap: 10px;
}

div.popup img {
    width: 50vw;
    height: auto;
}

div.popup button {
    width: 100px;
    height: 30px;
    color: var(--snow);
    background-color: var(--denim);
    border-radius: 5px;

}
div.popup button:hover {
    width: 102px;
    height: 32px;
    color: var(--gunmetal);
    background-color: var(--aquamarine);
    transition: .5s;
}

div.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
